div[class^="col"],
div[class*=" col"] {
    margin: auto;
}

.App {
    font-family: 'Questrial', sans-serif;
    height: 100%;
}

#root{
    height: 100%;
}

.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}

.container-fluid {
    border: 4px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.log {
    height: 100%;
    text-align: left;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
}

.empty {
    background-color: grey;
}

.unauthorized {
    background-color: red;
}

.authorized {
    background-color: green;
}

::-webkit-scrollbar {
width: 1px;
}

::-webkit-scrollbar-track {
background: transparent;
}

::-webkit-scrollbar-thumb {
background-color: transparent;
}

.section_heading{
    text-align: left;
    margin-bottom: 0px;
    margin-left: 5%;
    padding: 5px 15px 0px 5px;
    width: fit-content;
    font-size: 1.5em;
}

.log_msg {
    text-align: left;
    font-size: 1.5em;
}

.username-modal {
    position: absolute;
    display: flex;
    top: 0;
    flex-direction: column;
    justify-content: start;
    background: #000000b6;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.modal-container {
    margin-top: 10%;
    background: rgb(238, 238, 238);
    border: 4px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.modal-background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.input-boxes {
    margin-top: 5px;
    margin-bottom: 5px;
}

input {
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;
}

.icon-holder {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register-btn {
    position: absolute;
    background: black;
    right: 0px;
    bottom: 0px;
    border-radius: 0px;
}

.modal-title {
    background: black;
    padding: 0px 10px;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}