div[class^="col"],
div[class*=" col"] {
    margin: auto;
}

.App {
    font-family: 'Questrial', sans-serif;
}

.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}

.container-fluid {
    border: 4px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.log {
    height: 100px;
    text-align: left;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;


}

::-webkit-scrollbar {
width: 1px;
}

::-webkit-scrollbar-track {
background: transparent;
}

::-webkit-scrollbar-thumb {
background-color: transparent;
}

.section_heading{
    text-align: left;
    margin-bottom: 0px;
    margin-left: 5%;
    padding: 5px 15px 0px 5px;
    width: fit-content;
    font-size: 1.5em;
}

.log_msg {
    text-align: left;
    font-size: 1.5em;
}