html {
  height: 100%;
}
body {
  margin: 0px;
  height: 100%;
  background: #EEEEEE;
}

.outer {
  height: 100%;
}

h1 {
  font-size: 6em;
  font-weight: 600;
}

h2 {
  font-size: 2em;
}

#scr_1 {
  height: 100%;
}

.centered {
  font-family: 'Questrial', sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.window {
  text-align: center;
}

.w_content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

  .w_content h2 {
    margin-right: 10px;
    margin-bottom: 0px;
  }

  #i_username {
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    font-size: 2em;
    height: 100%;
    background-color: #EEEEEE;
    border-style: none;
  }
  
  #i_username:focus {
    outline: 0;
  }

#i_username {
  display: inline-block;
}


.grid {
  display: flex;                       /* establish flex container */
  flex-direction: column;
  flex-wrap: nowrap;                     /* enable flex items to wrap */
  justify-content: space-evenly;
  
}

.row {
  padding: 0px;
  height: 20vh;
  width: 100vw;
  margin-bottom: 2vh;
  display: flex;
  justify-content: center;
}

.cell {
  flex: 0 0 28%;                       /* don't grow, don't shrink, width */
  height: 20vh;
  max-width: 20vh;
  background-color: #999;
  border-radius: 50%;
  outline: none;
  box-shadow:
    -6px -6px 12px 0 rgba(255,255,255,.5),
    12px 12px 12px 0 rgba(0,0,0,.03);
  background-color: #EEEEEE;
}

button {
  font-family: 'Questrial', sans-serif;
  text-decoration: none;
  border: none;
  margin-left: 2vw;
  font-size: 4em;
}

button:focus {
  outline: none;
}

.hidden {
  visibility: hidden;
}

.entry {
  height: 10vh;
  width: 100%;
  margin: 0px;
  background-color: #EEEEEE;
}
