.App {
  margin: 0px;
  height: 100%;
  background: #EEEEEE;
}

.styled__control-is-focused {
  outline: 0;
}

.sound-wave {
  width: 100%;
}

.buttonsBar {
  width: 50%;
}

.play-stop {
  height: 20vw;
  width: 20vw;
  font-size: 4em;
  background-color: #999;
  border-radius: 7%;
  outline: none;
  box-shadow:
    -6px -6px 12px 0 rgba(255,255,255,.5),
    12px 12px 12px 0 rgba(0,0,0,.03);
  background-color: #EEEEEE;
}

.play-stop:focus {
  outline: 0;
}